<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    
    <title>post</title>
</head>
<body>
    <h1>Here is your post is in detail</h1>
    <div class="post">
        <h3>Username:<%= post.id %></h3>
        <h4>Content: <%= post.content %></h4>
        <h3>id:<%= post.id %></h3>
    </div>
    
</body>
</html>